<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %highlight{%c{1.}.%M(%L)}: %msg%n"/>
        </console>
    </appenders>
    <loggers>
        <logger nane="love.forte.simbot">
            <level value="DEBUG"/>
            <appender-ref ref="Console"/>
        </logger>
        <!-- Root节点用来指定项目的根日志，如果没有单独指定Logger，那么就会默认使用该Root日志输出 -->
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>